*{margin: 0%;
padding: 0;
}



.ToggleSwitch{
  background: linear-gradient(#ccc, #eee);
  border: 1px solid rgb(255, 255, 255);
  height: 32px;
  width: 60px;
  margin-top: 30px;
  left: 500px;
  border-radius: 1em;
}

@media (max-width:767px){
  .ToggleSwitch{
    margin-top: 20px;
    width: 70px;
    height: 21px;


  }   
}

.knob{
    position: relative;
    width: 30px;
    height: 30px ;
    background: #666;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 0em;
    transition: left 0.3s ease-out;}

@media (max-width:767px){
  .knob{
    width: 20px;
    height: 20px;

  }   
}
    
.active{
    position: relative;
    width: 30px;
    height: 30px;
    background:#ff3333;
    border-radius: 50%;
    transition: left 0.3s ease-out;
    left: 30px
}

@media (max-width:767px){
  .active{
    width: 20px;
    height: 20px;
    left: 18px
  }   
}
